In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from shutil import copyfile
from PIL import Image
%matplotlib inline
import matplotlib.pyplot as plt
import os
import skimage.io as io
from sklearn.model_selection import train_test_split

In [10]:
def get_dataframe(root_fldr, weight=1, manual=1):
#     root_folder = "../data"
    fldrs = []
    for i in os.listdir(root_fldr):
        if i.startswith('Atlanta') and os.path.isdir(os.path.join(root_fldr, i)):
            fldrs.append(i)
    
    full_df = pd.DataFrame(columns=['name', 'weight', 'catid', 'nadir', 'tangent', 'folder', 'nadir_cat'])
    for folder in fldrs:
        fldr_path = os.path.join(root_fldr, folder)
        inside = os.listdir(fldr_path)
        if len(inside) > 2:
            if manual == 0:
                msk_dir = 'masks'
            else:
                msk_dir = 'masks'
            try:
                path_msk = os.path.join(fldr_path, msk_dir)
                filenames = os.listdir(path_msk)
            except:
                print("Searching jpegs")
                path_msk = os.path.join(fldr_path, 'jpegs')
                filenames = os.listdir(path_msk)
            print("ho")
            weights = np.full((len(filenames)), weight)
            df = pd.DataFrame(columns=['name', 'weight', 'catid', 'nadir', 'tangent', 'folder', 'nadir_cat'])
            # df['name'] = [os.path.join(path_msk, n) for n in filenames]
            df['name'] = filenames
            df['weight'] = weights
            df['manual'] = manual
            df['folder'] = folder
            df['catid'] = folder.split("_")[-1]
            df['nadir'] = 7
            df['tangent'] = 120
            df['nadir_cat'] = 'unknown'
            full_df = pd.concat([full_df, df])
    #full_df['grove'] = [i.split('/')[-1].split('_')[0] if i.split('/')[-1].split('_')[1] == 'nrg' else i.split('/')[-1].split('_')[0] + '_' + i.split('/')[-1].split('_')[1] for i in full_df['name']]
    return full_df

In [3]:
ful_df = get_dataframe("/mnt/storage_4tb/ymi/spacenet/data/train")

/home/user/.virtualenvs/cv34/lib/python3.5/site-packages/ipykernel_launcher.py:34: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [15]:
ful_df.head(5)

,catid,folder,manual,nadir,nadir_cat,name,tangent,weight
0,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,7,unknown,mask_748451_3742689.tif,120,1
1,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,7,unknown,mask_737651_3742239.tif,120,1
2,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,7,unknown,mask_739001_3721539.tif,120,1
3,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,7,unknown,mask_742601_3738639.tif,120,1
4,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,7,unknown,mask_732701_3725139.tif,120,1

In [7]:
test_df = get_dataframe("/mnt/storage_4tb/ymi/spacenet/data/test/SpaceNet-Off-Nadir_Test_Public")

Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs

/home/user/.virtualenvs/cv34/lib/python3.5/site-packages/ipykernel_launcher.py:34: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Searching jpegs
Searching jpegs
Searching jpegs
Searching jpegs

In [12]:
sample_df = get_dataframe("/mnt/storage_4tb/ymi/spacenet/data/sample")

['Atlanta_nadir50_catid_10300100039E6200', 'Atlanta_nadir10_catid_1030010003993E00']
Searching jpegs
ho
Searching jpegs
ho

/home/user/.virtualenvs/cv34/lib/python3.5/site-packages/ipykernel_launcher.py:36: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [13]:
sample_df.head(5)

,catid,folder,manual,nadir,nadir_cat,name,tangent,weight
0,10300100039E6200,Atlanta_nadir50_catid_10300100039E6200,1.0,7,unknown,8bit_Atlanta_nadir50_catid_10300100039E6200_74...,120,1
0,1030010003993E00,Atlanta_nadir10_catid_1030010003993E00,1.0,7,unknown,8bit_Atlanta_nadir10_catid_1030010003993E00_73...,120,1

In [ ]:
len(test_df)

In [ ]:
test_df.head(5)

In [ ]:
len(ful_df)

In [14]:
sample_df.to_csv("../data/sample.csv", index=False)

In [ ]:
test_df.to_csv("../data/test.csv", index=False)

In [ ]:
ful_df.to_csv("../data/baeline_nadir7.csv", index=False)

1	1030010003D22F00	0.48	7.8	118.4	Nadir
2	10300100023BC100	0.49	8.3	78.4	Nadir
3	1030010003993	0.49	10.5	148.6	Nadir
4	1030010003CAF100	0.48	10.6	57.6	Nadir
5	1030010002B7D800	0.49	13.9	162	Nadir
6	10300100039AB000	0.49	14.8	43	Nadir
7	1030010002649200	0.52	16.9	168.7	Nadir
8	1030010003C92000	0.52	19.3	35.1	Nadir
9	1030010003127500	0.54	21.3	174.7	Nadir
10	103001000352C200	0.54	23.5	30.7	Nadir
11	103001000307D800	0.57	25.4	178.4	Nadir
12	1030010003472200	0.58	27.4	27.7	Off-Nadir
13	1030010003315300	0.61	29.1	181	Off-Nadir
14	10300100036D5200	0.62	31	25.5	Off-Nadir
15	103001000392F600	0.65	32.5	182.8	Off-Nadir
16	1030010003697400	0.68	34	23.8	Off-Nadir
17	1030010003895500	0.74	37	22.6	Off-Nadir
18	1030010003832800	0.8	39.6	21.5	Off-Nadir
19	10300100035D1B00	0.87	42	20.7	Very Off-Nadir
20	1030010003CCD700	0.95	44.2	20	Very Off-Nadir
21	1030010003713C00	1.03	46.1	19.5	Very Off-Nadir
22	10300100033C5200	1.13	47.8	19	Very Off-Nadir
23	1030010003492700	1.23	49.3	18.5	Very Off-Nadir
24	10300100039E6200	1.36	50.9	18	Very Off-Nadir
25	1030010003BDDC00	1.48	52.2	17.7	Very Off-Nadir
26	1030010003CD4300	1.63	53.4	17.4	Very Off-Nadir
27	1030010003193D00	1.67	54	17.4	Very Off-Nadir

In [16]:
nadirs_cat = ["Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", "Nadir", 
              "Off-Nadir", "Off-Nadir", "Off-Nadir", "Off-Nadir", "Off-Nadir", "Off-Nadir", "Off-Nadir", 
              "Very Off-Nadir", "Very Off-Nadir", "Very Off-Nadir", "Very Off-Nadir", "Very Off-Nadir", "Very Off-Nadir", 
              "Very Off-Nadir", "Very Off-Nadir", "Very Off-Nadir"]
print(len(nadirs_cat))

27

In [17]:
tangents = [118.4, 78.4, 148.6, 57.6, 162, 43, 168.7, 35.1, 174.7, 30.7, 178.4, 27.7, 181, 25.5, 182.8, 23.8,
            22.6, 21.5, 20.7, 20, 19.5, 19, 18.5, 18, 17.7, 17.4, 17.4]
print(len(tangents))

27

In [18]:
nadirs = [7.8, 8.3, 10.5, 10.6, 13.9, 14.8, 16.9, 19.3, 21.3, 23.5, 25.4, 27.4, 29.1, 31, 32.5, 34, 37, 39.6, 42, 44.2, 46.1, 47.8, 49.3, 50.9, 52.2, 53.4, 54]
print(len(nadirs))

27

In [19]:
catid = ["1030010003D22F00", "10300100023BC100", "1030010003993E00", "1030010003CAF100", "1030010002B7D800",
         "10300100039AB000", "1030010002649200", "1030010003C92000", "1030010003127500", "103001000352C200",
         "103001000307D800", "1030010003472200", "1030010003315300", "10300100036D5200", "103001000392F600",
         "1030010003697400", "1030010003895500", "1030010003832800", "10300100035D1B00", "1030010003CCD700",
         "1030010003713C00", "10300100033C5200", "1030010003492700", "10300100039E6200", "1030010003BDDC00",
         "1030010003CD4300", "1030010003193D00"]
print(len(catid))

27

In [ ]:
len(np.unique(catid))

In [20]:
for cat, nadir, tangent, nadir_cat in zip(catid, nadirs, tangents, nadirs_cat):
    ful_df.loc[ful_df['catid'] == cat, 'nadir'] = nadir 
    ful_df.loc[ful_df['catid'] == cat, 'tangent'] = tangent 
    ful_df.loc[ful_df['catid'] == cat, 'nadir_cat'] = nadir_cat 
#     ful_df.loc[ful_df['catid'] == cat, 'nadir'] = nadir 
#     ful_df.loc[ful_df['catid'] == cat, 'nadir'] = nadir

In [25]:
train, val = train_test_split(ful_df, test_size=0.1, random_state=0, stratify=ful_df[['nadir']])

In [26]:
train.to_csv("../data/train/baseline_train_nadir_5.csv", index=False)
val.to_csv("../data/train/baseline_val_nadir_5.csv", index=False)

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(nadirs_cat)

In [ ]:
from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder


# encode class values as integers
encoder = LabelEncoder()
encoder.fit(ful_df['nadir_cat'])
encoded_Y = encoder.transform(ful_df['nadir_cat'])
# convert integers to dummy variables (i.e. one hot encoded)
dummy_y = np_utils.to_categorical(encoded_Y)

In [ ]:
ful_df['nadir_cat_label'] = encoded_Y

In [21]:
ful_df['tangent_label'] = pd.cut(ful_df['tangent'], 3, labels=[0, 1, 2])
ful_df['nadir_cat_label'] = pd.cut(ful_df['nadir'], 5, labels=[0, 1, 2, 3, 4])

In [24]:
ful_df['nadir_cat_label'].value_counts()

4    7448
0    7448
2    5320
3    4256
1    4256
Name: nadir_cat_label, dtype: int64

In [23]:
ful_df.head(5)

,catid,folder,manual,nadir,nadir_cat,name,tangent,weight,tangent_label,nadir_cat_label
0,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,42,Very Off-Nadir,mask_748451_3742689.tif,20.7,1,0,3
1,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,42,Very Off-Nadir,mask_737651_3742239.tif,20.7,1,0,3
2,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,42,Very Off-Nadir,mask_739001_3721539.tif,20.7,1,0,3
3,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,42,Very Off-Nadir,mask_742601_3738639.tif,20.7,1,0,3
4,10300100035D1B00,Atlanta_nadir42_catid_10300100035D1B00,1.0,42,Very Off-Nadir,mask_732701_3725139.tif,20.7,1,0,3

In [ ]:
plt.hist(pd.cut(ful_df['nadir'], 3, labels=range(3)))

In [ ]:
x, y, z = plt.hist(ful_df['nadir'].values, bins=5)

In [ ]:
ful_df['nadir'].value_counts()

In [ ]:
plt.hist(ful_df['nadir'], bins=7)

In [ ]:
dummy_y

In [ ]:
ful_df.head(5)

In [ ]:
ful_df['nadir_cat'].value_counts()

In [ ]:
ful_df['nadir'].value_counts()

In [ ]:
ful_df['tangent'].value_counts()

In [ ]:
ful_df['tangent'].hist()

In [ ]:
train_only_man.to_csv('/media/user/5674E720138ECEDF/geo_data/train_only_man_boosted.df', index=False)
val_only_man.to_csv('/media/user/5674E720138ECEDF/geo_data/val_only_man_boosted.df', index=False)
test.to_csv('/media/user/5674E720138ECEDF/geo_data/test_boosted.df', index=False)

In [32]:
ful_df['nadir_cat_label'].value_counts()

4    7448
0    7448
2    5320
3    4256
1    4256
Name: nadir_cat_label, dtype: int64