In [27]:
import pandas as pd
from shapely.geometry import Polygon
from shapely import wkt

In [10]:
subm = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/predictions.csv")

In [136]:
subm = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result_affine_watershed/prediction_affine_02.csv")
subm.head(5)
# print(len(subm))

FileNotFoundError: File b'../CosmiQ_SN4_Baseline/bin/data/test_result_affine_watershed/prediction_affine_02.csv' does not exist

In [137]:
len(subm)

40595

In [151]:
subm_ = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result_affine_watershed_fixed_2/prediction_affine_02.csv")
subm_.head(5)
# print(len(subm))

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733151_...,0,"POLYGON ((628.00 0.00, 628.00 2.00, 629.00 2.0...",1
1,Atlanta_nadir10_catid_1030010003993E00_733151_...,1,"POLYGON ((261.00 0.00, 261.00 20.00, 262.00 20...",1
2,Atlanta_nadir10_catid_1030010003993E00_733151_...,2,"POLYGON ((77.00 21.00, 77.00 22.00, 73.00 22.0...",1
3,Atlanta_nadir10_catid_1030010003993E00_733151_...,3,"POLYGON ((34.00 22.00, 34.00 23.00, 33.00 23.0...",1
4,Atlanta_nadir10_catid_1030010003993E00_733151_...,4,"POLYGON ((152.00 27.00, 152.00 28.00, 149.00 2...",1

In [154]:
len(subm_)

40595

In [127]:
subm = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result_affine_resize/prediction_affine_02.csv")
subm.head(5)

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733151_...,0,"POLYGON ((631.00 0.00, 631.00 2.00, 632.00 2.0...",1
1,Atlanta_nadir10_catid_1030010003993E00_733151_...,1,"POLYGON ((262.00 0.00, 262.00 6.00, 261.00 6.0...",1
2,Atlanta_nadir10_catid_1030010003993E00_733151_...,2,"POLYGON ((77.00 22.00, 77.00 23.00, 74.00 23.0...",1
3,Atlanta_nadir10_catid_1030010003993E00_733151_...,3,"POLYGON ((35.00 23.00, 35.00 24.00, 34.00 24.0...",1
4,Atlanta_nadir10_catid_1030010003993E00_733151_...,4,"POLYGON ((153.00 28.00, 153.00 29.00, 150.00 2...",1

In [128]:
len(subm)

43328

In [16]:
subm.to_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/predictions_.csv")

In [40]:
subm.to_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/predictions_1.csv", header=None)

In [73]:
subm.head(5)

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733151_...,0,"POLYGON ((441.00 0.00, 441.00 1.00, 440.00 1.0...",1
1,Atlanta_nadir10_catid_1030010003993E00_733151_...,1,"POLYGON ((269.00 0.00, 269.00 1.00, 268.00 1.0...",1
2,Atlanta_nadir10_catid_1030010003993E00_733151_...,2,"POLYGON ((645.00 4.00, 645.00 5.00, 644.00 5.0...",1
3,Atlanta_nadir10_catid_1030010003993E00_733151_...,3,"POLYGON ((83.00 32.00, 83.00 33.00, 82.00 33.0...",1
4,Atlanta_nadir10_catid_1030010003993E00_733151_...,4,"POLYGON ((28.00 35.00, 28.00 36.00, 25.00 36.0...",1

In [68]:
subm[subm['PolygonWKT_Pix'] == -1]

Empty DataFrame
Columns: [ImageId, BuildingId, PolygonWKT_Pix, Confidence]
Index: []

In [80]:
subm[subm["BuildingId"] == -1]

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
494,Atlanta_nadir10_catid_1030010003993E00_737201_...,-1,POLYGON EMPTY,1
9652,Atlanta_nadir19_catid_1030010003C92000_737201_...,-1,POLYGON EMPTY,1
13531,Atlanta_nadir23_catid_103001000352C200_734501_...,-1,POLYGON EMPTY,1
13532,Atlanta_nadir23_catid_103001000352C200_734501_...,-1,POLYGON EMPTY,1
14080,Atlanta_nadir23_catid_103001000352C200_739901_...,-1,POLYGON EMPTY,1
14338,Atlanta_nadir23_catid_103001000352C200_742601_...,-1,POLYGON EMPTY,1
15173,Atlanta_nadir23_catid_103001000352C200_747101_...,-1,POLYGON EMPTY,1
17501,Atlanta_nadir27_catid_1030010003472200_732251_...,-1,POLYGON EMPTY,1
17640,Atlanta_nadir27_catid_1030010003472200_732701_...,-1,POLYGON EMPTY,1
17683,Atlanta_nadir27_catid_1030010003472200_734051_...,-1,POLYGON EMPTY,1
17939,Atlanta_nadir27_catid_1030010003472200_736751_...,-1,POLYGON EMPTY,1
18672,Atlanta_nadir27_catid_1030010003472200_739451_...,-1,POLYGON EMPTY,1
21548,Atlanta_nadir29_catid_1030010003315300_737201_...,-1,POLYGON EMPTY,1
24172,Atlanta_nadir30_catid_10300100036D5200_733151_...,-1,POLYGON EMPTY,1
24211,Atlanta_nadir30_catid_10300100036D5200_734501_...,-1,POLYGON EMPTY,1
24212,Atlanta_nadir30_catid_10300100036D5200_734951_...,-1,POLYGON EMPTY,1
29168,Atlanta_nadir32_catid_103001000392F600_746651_...,-1,POLYGON EMPTY,1
29309,Atlanta_nadir32_catid_103001000392F600_748001_...,-1,POLYGON EMPTY,1
30243,Atlanta_nadir34_catid_1030010003697400_736751_...,-1,POLYGON EMPTY,1
32106,Atlanta_nadir34_catid_1030010003697400_748901_...,-1,POLYGON EMPTY,1
32315,Atlanta_nadir36_catid_1030010003895500_732251_...,-1,POLYGON EMPTY,1
39668,Atlanta_nadir42_catid_10300100035D1B00_734951_...,-1,POLYGON EMPTY,1
44906,Atlanta_nadir46_catid_1030010003713C00_732701_...,-1,POLYGON EMPTY,1
44907,Atlanta_nadir46_catid_1030010003713C00_733151_...,-1,POLYGON EMPTY,1
44908,Atlanta_nadir46_catid_1030010003713C00_733601_...,-1,POLYGON EMPTY,1
47105,Atlanta_nadir47_catid_10300100033C5200_743051_...,-1,POLYGON EMPTY,1
51921,Atlanta_nadir50_catid_10300100039E6200_745751_...,-1,POLYGON EMPTY,1
54670,Atlanta_nadir53_catid_1030010003193D00_732251_...,-1,POLYGON EMPTY,1

In [13]:
len(subm)

62699

In [14]:
subm["ImageId"] = [i.split("/")[-1].replace("8bit_", "").replace(".jpg", "") for i in subm["ImageId"].values]

In [9]:
"8bit_Atlanta_nadir10_catid_1030010003993E00_733151_3735939.jpg".replace("8bit_", "").replace(".jpg", "")

'Atlanta_nadir10_catid_1030010003993E00_733151_3735939'

In [31]:
polygons = []
for index, row in subm.iterrows():
    polygons.append(wkt.loads(subm.at[index, 'PolygonWKT_Pix']))

In [71]:
polygons[50]

In [49]:
subm['ImageId'].nunique()

927

In [57]:
sum_data = pd.read_csv("../data/train/summaryData/Atlanta_nadir49_catid_1030010003492700_Train.csv", index_col="Unnamed: 0")

In [58]:
sum_data.head(5)

,ImageId,BuildingId,PolygonWKT_Pix,PolygonWKT_Geo
0,Atlanta_nadir49_catid_1030010003492700_743051_...,0,"POLYGON ((484.768 900.000, 485.379 898.427, 49...",1
1,Atlanta_nadir49_catid_1030010003492700_743051_...,1,"POLYGON ((58.747 900.000, 58.988 869.371, 53.6...",1
2,Atlanta_nadir49_catid_1030010003492700_743051_...,2,"POLYGON ((287.643 900.000, 287.448 890.881, 29...",1
3,Atlanta_nadir49_catid_1030010003492700_743051_...,3,"POLYGON ((491.034 866.340, 502.470 866.049, 50...",1
4,Atlanta_nadir49_catid_1030010003492700_743051_...,4,"POLYGON ((352.053 868.636, 352.786 838.429, 37...",1

In [65]:
sum_data.at[0, 'PolygonWKT_Pix']

'POLYGON ((484.768 900.000, 485.379 898.427, 490.289 895.327, 498.722 894.380, 499.076 898.811, 499.346 900.000, 484.768 900.000))'

In [66]:
subm.at[0, 'PolygonWKT_Pix']

'POLYGON ((441.00 0.00, 441.00 1.00, 440.00 1.00, 440.00 3.00, 441.00 3.00, 441.00 4.00, 442.00 4.00, 442.00 5.00, 446.00 5.00, 446.00 6.00, 448.00 6.00, 448.00 5.00, 449.00 5.00, 449.00 0.00, 441.00 0.00))'

In [72]:
images = ["Atlanta_nadir10_catid_1030010003993E00_733601_3724689",
          "Atlanta_nadir50_catid_10300100039E6200_747101_3741339"]

In [83]:
test_submission = pd.DataFrame(columns=["ImageId", "BuildingId", "PolygonWKT_Pix", "Confidence"])
test_submission["ImageId"] = images
test_submission["BuildingId"] = [-1, -1]
test_submission["PolygonWKT_Pix"] = ["POLYGON EMPTY", "POLYGON EMPTY"]
test_submission["Confidence"] = [1, 1]
test_submission.to_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/sample_submission.csv", index=False)

In [84]:
test_submission

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733601_...,-1,POLYGON EMPTY,1
1,Atlanta_nadir50_catid_10300100039E6200_747101_...,-1,POLYGON EMPTY,1

In [120]:
sample_2 = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/sample_prediction_2.csv")

In [121]:
sample_2.head(5)

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733601_...,0,"POLYGON ((2.00 2.00, 2.00 3.00, 0.00 3.00, 0.0...",1
1,Atlanta_nadir10_catid_1030010003993E00_733601_...,1,"POLYGON ((795.00 0.00, 795.00 15.00, 796.00 15...",1
2,Atlanta_nadir10_catid_1030010003993E00_733601_...,2,"POLYGON ((455.00 0.00, 455.00 2.00, 454.00 2.0...",1
3,Atlanta_nadir10_catid_1030010003993E00_733601_...,3,"POLYGON ((442.00 39.00, 442.00 40.00, 437.00 4...",1
4,Atlanta_nadir10_catid_1030010003993E00_733601_...,4,"POLYGON ((558.00 84.00, 558.00 85.00, 557.00 8...",1

In [122]:
sample_2["ImageId"].values

array(['Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir10_catid_1030010003993E00_733601_3724689',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339',
       'Atlanta_nadir50_catid_10300100039E6200_747101_3741339'],
      dtype=object)

In [88]:
sample = pd.read_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/sample_prediction.csv")

In [92]:
sample.head(5)

,ImageId,BuildingId,PolygonWKT_Pix,Confidence
0,Atlanta_nadir10_catid_1030010003993E00_733601_...,0,"POLYGON ((616.00 20.00, 616.00 21.00, 614.00 2...",1
1,Atlanta_nadir10_catid_1030010003993E00_733601_...,1,"POLYGON ((454.00 0.00, 454.00 3.00, 453.00 3.0...",1
2,Atlanta_nadir10_catid_1030010003993E00_733601_...,2,"POLYGON ((795.00 0.00, 795.00 1.00, 794.00 1.0...",1
3,Atlanta_nadir10_catid_1030010003993E00_733601_...,3,"POLYGON ((131.00 74.00, 131.00 75.00, 130.00 7...",1
4,Atlanta_nadir10_catid_1030010003993E00_733601_...,4,"POLYGON ((442.00 40.00, 442.00 41.00, 439.00 4...",1

In [91]:
sample["ImageId"] = [i.split("/")[-1].lstrip("8bit_").rstrip(".jpg") for i in sample["ImageId"].values]

In [94]:
sample.to_csv("../CosmiQ_SN4_Baseline/bin/data/test_result/sample_true.csv", index=False)

In [95]:
sample.at[0, "PolygonWKT_Pix"]

'POLYGON ((616.00 20.00, 616.00 21.00, 614.00 21.00, 614.00 26.00, 618.00 26.00, 618.00 25.00, 621.00 25.00, 621.00 24.00, 622.00 24.00, 622.00 23.00, 620.00 23.00, 620.00 22.00, 619.00 22.00, 619.00 21.00, 618.00 21.00, 618.00 20.00, 616.00 20.00))'

In [110]:
import os

In [111]:
root_fdlr = "/mnt/storage_4tb/ymi/spacenet/data/test/SpaceNet-Off-Nadir_Test_Public/"

In [112]:
fldrs = os.listdir(root_fdlr)
for folder in fldrs:
    path = os.path.join(root_fdlr, folder, "jpegs")
    for file in os.listdir(path):
        if file.endswith(".json"):
            os.remove(os.path.join(path, file))